* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  background: linear-gradient(to right, #4603bb, #331560, #a24807e3, #ff6a00),
              linear-gradient(to top, #000 0%, #000000 50%, transparent 100%);
  background-blend-mode: overlay;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  position: relative;
  padding-top: 0;
}
 
.interface {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
 
header {
  height: 60px;
  background: #181828;
  border-radius: 24px;
  box-shadow: 0 8px 32px rgba(123, 24, 173, 0.667);
  padding: 18px 4%;
  margin: 12px 2% 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 25%;
  max-width: 96vw;
}
 
.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
 
.left-login,
.right-login {
  width: 35vw;
  height: 70vh;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
 
.left-login {
  background-color: #2b2f6c;
  z-index: 1;
  margin-right: -40px;
}
 
.right-login {
  background-color: #130922;
  z-index: 2;
  margin-left: -40px;
}
 
.left-login h1 {
  color: #fd4f0a;
  font-family: "Baloo 2", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 80px;
}
 
.btns-logins {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 190px;
}
 
.btns-logins a {
  text-decoration: none;
  margin-bottom: 12px;
}
 
.btns-logins button {
  display: flex;
  align-items: top;
  justify-content: flex-start;
  gap: 12px;
  width: 380px;
  background-color: #130922;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 20px;
  box-shadow: 0 2px 8px #0006;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
}
 
.btns-logins button:hover {
  background-color: #1d0f3b;
}
 
.card-login {
  width: 100%;
  padding: 30px;
}
 
.card-login h1 {
  color: #fd4f0a;
  font-family: "Hammersmith One", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-left: 190px;
  margin-top: -20px;
}
 
.textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
 
.textfield label {
  color: white;
  margin-bottom: 6px;
  font-size: 14px;
  margin-left: 25px;
}
 
.textfield input {
  width: 450px;
  margin-left: 15px;
  border: none;
  border-radius: 24px;
  padding: 12px 10px;
  background-color: #402866;
  color: white;
  font-size: 14px;
  outline: none;
}
 
.textfield input::placeholder {
  color: #ccc;
}
 
.btn-registrarse,
.btn-entrar {
  width: 450px;
  border: none;
  border-radius: 24px;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
}
 
.btn-registrarse {
  background: linear-gradient(45deg, #2a0385, #680ab0);
  color: white;
}
 
.btn-entrar {
  background: #305497;
  color: white;
  margin-top: 15px;
}
 
.btn-registrarse:hover {
  background: linear-gradient(45deg, #5d2eff, #b53fff);
}
 
.btn-entrar:hover {
  background: #333;
}
 
.textfield-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 12px;
}
 
.textfield-row .textfield {
  flex: 1;
}
 
.textfield-row .textfield input {
  width: 200px;
  margin-left: 20;
  background-color: #212135;
}

#envfto input::placeholder{

  position: relative;
  width: 100%;
  height: 100%;


}