* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #10002b, #4c00ff);
    display: flex;
    flex-direction: column;
}

/* -------- HEADER -------- */

header {
    width: 100%;
    height: 85px;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    color: white;
}
.profile-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.profile-btn i {
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dot-btn {
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

/* -------- ÁREA DO CHAT -------- */

.chat-area {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Balão (lado direito - roxo) */

.msg-right {
    align-self: flex-end;
    background: #1a004e;
    padding: 14px 22px;
    border-radius: 15px 15px 0 15px;
    color: white;
    max-width: 400px;
    margin-bottom: 12px;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
}

.msg-right .time {
    font-size: 11px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: right;
}

/* Balão (lado esquerdo - laranja) */

.msg-left {
    align-self: flex-start;
    background: #ff5b00;
    padding: 14px 22px;
    border-radius: 15px 15px 15px 0;
    color: white;
    max-width: 400px;
    margin-bottom: 12px;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
}

.msg-left .time {
    font-size: 11px;
    opacity: 0.7;
    margin-top: 5px;
}

/* -------- INPUT AREA -------- */

.input-area {
    width: 100%;
    background: #1a1a1a;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-area input {
    flex: 1;
    padding: 12px;
    background: #111;
    border: none;
    border-radius: 6px;
    color: white;
    outline: none;
    font-size: 15px;
}

.send-btn {
    width: 45px;
    height: 45px;
    background: #ff3d00;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* ----------- RESPONSIVIDADE ----------- */

/* telas pequenas */
@media (max-width: 600px) {
    header {
        height: 60px;
        padding: 0 15px;
    }

    .profile-btn img {
        width: 38px;
        height: 38px;
    }

    .msg-right, .msg-left {
        max-width: 85%;
        font-size: 0.9rem;
        padding: 10px 14px;
    }

    .time {
        font-size: 0.70rem;
    }

    .input-area {
        padding: 10px;
    }

    .input-area input {
        font-size: 0.9rem;
        padding: 10px;
    }

    .send-btn {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

/*TELAS GRANDES */
@media (min-width: 1600px) {
    .msg-right, .msg-left {
        max-width: 60%;
        font-size: 1.2rem;
        padding: 18px 22px;
    }

    .time {
        font-size: 0.9rem;
    }

    .input-area input {
        font-size: 1.2rem;
        padding: 18px;
    }

    .send-btn {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }
}
