*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

body{
           background: linear-gradient(to right, #4603bb, #331560, #a24807e3, #ff6a00),
                linear-gradient(to top, #000 0%, #000000 60%, transparent 100%);
    background-blend-mode: overlay;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;
    padding-top: 0;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

header{
    height: 60px;
    background: #181828;
    border-radius: 24px;
    box-shadow: 0 4px 32px rgba(76, 72, 72, 0.667);
    padding: 18px 4% 18px 4%;
    margin: 12px 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 25%;
    max-width: 96vw;
}

.main-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login{
  width: 35vw;
  height: 60vh;
  background-color: #333062;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btns-logins > h1{
  color: #fd4f0a;
   font-family: "Baloo 2", sans-serif;

}

.right-login{
  width: 35vw;
  height: 60vh;
  background-color: #130922;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.card-login > h1{
  color: #fd4f0a;
  font-family: "Hammersmith One", sans-serif;
}

.card-login{
  padding: 30px;
}
.textfield{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  margin: 20px 0px;
}
.btns-logins{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  background-color: #838fff77;
  color: white;
  font-size: 12pt;
  outline: none;
}

.textfield > input::placeholder{
  color: white;
}

