* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #4603bb, #331560, #a24807e3, #ff6a00),
              linear-gradient(to top, #000 0%, #000000 45%, transparent 100%);
  background-blend-mode: overlay;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  position: relative;
  padding-top: 0;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

header {
  height: 60px;
  background: #130922;
  border-radius: 24px;
  box-shadow: 0 4px 32px rgba(76, 72, 72, 0.667);
  padding: 18px 4%;
  margin: 12px 2% 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 25%;
  max-width: 96vw;
}

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.left-login, .right-login {
  width: 420px;
  border-radius: 40px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 12px #00000066;
}

.left-login {
  background-color: #333062;
  width: 500px;
  height: 28vw;
  padding: 40px;
  position: relative;
  z-index: 1;
}

.right-login {
  background-color: #130922;
  position: relative;
  z-index: 2;
  margin-left: -60px;
  width:450px;
  padding: 40px 30px;
}

.btns-logins h1 {
  color: #fd4f0a;
  font-family: "Baloo 2", sans-serif;
  font-size: 35px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 40px;
}

.btns-logins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.btns-logins a {
  width: 100%;
  text-decoration: none;
  display: flex;
}

.btns-logins button {
  width: 100%;
  max-width: 360px;
  padding: 16px 14px;
  background: #130922;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 300;
  font-size: 18px;
  font-style: italic;
  cursor: pointer;
  transition: background 0.3s ease;
  text-align: left;
  margin-left: 20px;
}

.btns-logins button:hover {
  background-color: #2e1a49;
}

.card-login h1 {
  color: #fd4f0a;
  font-family: "Hammersmith One", sans-serif;
  font-size: 28px;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}

.card-login {
  width: 100%;
}

.textfield {
  width: 100%;
  margin-bottom: 20px;
}

.textfield input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 14px;
  background-color: #838fff77;
  color: white;
  font-size: 16px;
  outline: none;
}

.textfield input::placeholder {
  color: rgb(255, 255, 255);
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
  font-size: 16px;
  color: white;
  width: 100%;
}
.esqueceu-senha p a{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
  font-size: 16px;
  color: white;
  width: 100%;
}

.checkbox input {
  margin-right: 2px;
}

.btn-entrar, .btn-registrarse {
  width: 100%;
  padding: 14px;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-entrar {
  background-color: #fd4f0a;
  color: white;
}

.btn-entrar:hover {
  background-color: #d34608;
}

.btn-registrarse {
  background-color: #332d54;
  color: white;
}

.btn-registrarse:hover {
  background-color: #2c2648;
}

@media (max-width: 768px) {
  .main-login {
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .left-login,
  .right-login {
    width: 100%;
    height: auto;
    padding: 32px 24px;
    margin: 0;
    box-shadow: none;
  }

  .left-login{
    margin-top: 50px;
  }

  .right-login {
    margin-left: 0;
  }

  .btns-logins h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 0;
  }

  .btns-logins button {
    margin-left: 0;
    font-size: 16px;
    padding: 14px;
  }

  .card-login h1 {
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
  }

  .textfield input {
    font-size: 14px;
  }

  .btn-entrar,
  .btn-registrarse {
    font-size: 16px;
  }

  header {
    width: 90%;
  }
}
 /*telas pequenas*/
@media (min-width: 769px) and (max-width: 1440px) {
  .main-login {
    flex-direction: row;
    padding: 40px;
    gap: 30px;
  }

  .left-login {
    width: 420px;
    height: auto;
    padding: 40px 30px;
  }

  .right-login {
    width: 420px;
    margin-left: -40px;
    padding: 40px 30px;
  }

  .btns-logins h1 {
    font-size: 32px;
  }

  .btns-logins button {
    font-size: 18px;
  }

  .card-login h1 {
    font-size: 26px;
  }

  .btn-entrar,
  .btn-registrarse {
    font-size: 18px;
  }
}

/*telas grandes*/
@media (min-width: 1920px) {
  .main-login {
    max-width: 1600px;
    margin: 0 auto;
    gap: 80px;
  }

  .left-login,
  .right-login {
    height:600px ;
    width: 500px;
    padding: 60px 30px;
  }

  .btns-logins h1 {
    font-size: 46px;
  }

  .btns-logins button {
    font-size: 22px;
  }

  .card-login h1 {
    font-size: 50px;
  }

  .textfield input {
    font-size: 20px;
  }

  .btn-entrar,
  .btn-registrarse {
    font-size: 22px;
  }
}
