* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #000000, #0d0419, #180730, #1a0637);
  background-blend-mode: overlay;
  min-height: 1200%;
  font-family: 'Arial', sans-serif;
  padding-top: 60px;
  color: white;
}

.interface {
  max-width: 1440%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

header {
  height: 8vh;
  background: none;
  padding: 18px 4%;
  margin: 12px 2% 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 200px;
  max-width: 1440%;
}

.logo {
  position: fixed;
  left: 70px;
  top: 5px;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.box {
  background-color: #130922;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 600vw;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-left: 10px;
}

.adc-img button {
  background-color: #130922;
  border: 2px solid #ff6600;
  border-radius: 50%;
  padding: 1rem;
  font-size: 3rem;
  color: #ff6600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.adc-img button:hover {
  background-color: #db7500;
  color: #fff;
  border-color: #db7500;
}

.adc-img button > i {
  color: white;
  font-size: 180px;
}

.texto {
  margin-top: 30px;
  color: white;
}

.nomeexb,
.descricao {
  margin-bottom: 20px;
}

.nomeexb input,
.descricao input {
  border: none;
  border-radius: 18px;
  padding: 14px;
  background-color: #838fff77;
  font-size: 20px;
  outline: none;
  width: 100%;
  color: white;
}

input.nome:focus,
input.desc:focus {
  border: 2px solid #ff6600;
  background-color: rgb(39, 28, 105);
  outline: none;
}

.nome::placeholder,
.desc::placeholder {
  font-family: 'Hammersmith One', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

.botoes {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.btn-salvar {
  padding: 12px 24px;
  background-color: #ff6600;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-salvar:hover {
  background-color: #db7500;
}
