* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body {
  background: linear-gradient(to right, #4603bb, #331560, #a24807e3, #ff6a00),
  linear-gradient(to top, #000 0%, #000000 65%, transparent 100%);
  background-blend-mode: overlay;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  background: #0e0644;
  width: 400vw;
  max-width: 1350px;
  height: 90vh;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
}
.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #1a1154;
  border-radius: 20px;
  margin: 15px;
}

/* --------- MENU LATERAL --------- */
.sidebar {
  width: 300px;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
a.btn {
  display: inline-block;   /* impede de expandir toda a linha */
  text-decoration: none;   /* tira o sublinhado */
  text-align: center;      /* centraliza o texto */
}

.btn {
  background: #f05400;
  border: none;
  display: inline-block;  /* impede o “alongamento” */
  width: auto;            /* evita ocupar toda a linha */
  height: 10vh;
  min-width: 180px;       /* se quiser um tamanho fixo */
  text-align: center;
  border-radius: 30px;
  padding: 20px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: linear-gradient(to right, #4603bb, #331560, #a24807e3, #ff6a00);
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
.top-bar {
  display: flex;
  justify-content: flex-end;
}

.back-btn {
  background: #f05400;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.back-btn:hover,.back-btn:focus{
  background: #f1893e;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover) ;
  transform: translateY(-0.25em);
  transition: background 0.5s, color 0.5s;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

/* Estilo das listas suspensas */
select {
  background: #ff6f00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.5em;
  cursor: pointer;
}

/* Estilo do toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #888;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8b46ff;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.actions {
  padding: 0px 0px;
  display: flex;
  justify-content: left;
  gap: 30px;
}
.actions button {
  border: none;
  border-radius: 10px;
  padding: 180px 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.delete {
  background: none;
  color: white;
}
.delete:hover{
    color: #f05400;
    transition: background 0.4s, color 0.4s;

}

.save {
  background: none;
  color: white;
}

.save:hover{
    color: #f05400;
    transition: background 0.4s, color 0.4s;
}