*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .hammersmith-one-regular {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

body{
           background: linear-gradient(to right,#000000, #0d0419, #180730, #1a0637);
                
    background-blend-mode: overlay;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    position: relative;
    padding-top: 0;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    position:absolute ;
    z-index: 1;
}
header{
    height: 80px;
    background: #130922;
    border-radius: 24px;
    box-shadow: 0 4px 32px #000a;
    padding: 40px 4%;
    margin: 12px 2% 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 96%;
    max-width: 96vw;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
  margin-left: 90px;
}
.search-box-custom {
    background: #181828;
    border-radius: 25px;
    height: 45px;
    width: 600px;
    display: flex;
    position: absolute;
    right: 350px;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 2px 8px #0008;
    border: 2px solid #ff6600;
    
   
}
.search-icon {
    color: #1e90ff;
    font-size: 22px;
    margin-right: 10px;
    
}
.search-text {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    font-family: 'Hammersmith One', sans-serif;
}
.search-text::placeholder {
    color: #b0b0b0;
    opacity: 1;
}
.lista{
    padding-left: 10px;
    margin-top: 5px;
}
.lista > i{
    color: white;
    font-size: 60px;
    cursor: pointer;
}

.perfil button{
   position: absolute;
   right: 100px;
   top: 5px;
   background: #130922;
   border: none;
   margin-top: 5px;
    
}

.perfil button > i{
    color: white;
    font-size: 55px;
    cursor: pointer;
    
}

.usuario button{
   position: absolute;
   left: 120px;
   top: 150px;
   background-color: #000000;
   border: none;
   margin-top: 5px;
}

.usuario button > i{
    color: #ff6600;
    font-size: 55px;
    cursor: pointer;
}
.usuario2 button{
   position: absolute;
   left: 120px;
   top: 420px;
   background-color: #000000;
   border: none;
   margin-top: 5px;
}
.usuario2 button > i{
    color: #ff6600;
    font-size: 55px;
    cursor: pointer;
}


.post1{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 4%;
  background-size: cover;
}

.imagem{
  position: absolute;
  left: 720px;
  top: 155px;
 
}
.imagem2{
  position: absolute;
  left: 720px;
  top: 420px;
}

.img-obra2{
  border: 2px solid #ff6600;
  border-radius: 12px;
  width: 150px;
  
  box-shadow: 0 4px 32px #000a;
}

.img-obra{
  border: 2px solid #ff6600;
  border-radius: 12px;
  width: 170px;
  box-shadow: 0 4px 32px #000a;
}

.post1 p{
  position: absolute;
  top: 135px;
  left: 200px;
  color: #fff;
  font-size: 15px;
  margin: 25px 0 50px 0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 14.5px;
  font-weight: 500;
  text-align: justify;
  max-width: 500px;

}

.post2 p{
  position: absolute;
  top: 400px;
  left: 200px;
  color: #fff;
  font-size: 15px;
  margin: 25px 0 50px 0;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 14.5px;
  font-weight: 500;
  text-align: justify;
  max-width: 500px;
}
.like button{
   font-size: 30px;
   background:none;
   border: none;
   margin-top: 5px;
}

.like button > i{
  color: #ff6600;
  
}
.like2 button{
  font-size: 30px;
   background:none;
   border: none;
   margin-top: 5px;
}

.like2 button > i{
  color: #ff6600;
}

.coment button{
   font-size: 30px;
   background:none;
   border: none;
   margin-top: 5px;
}
.coment button > i{
  color: #ff6600;
}

#c1{
  position: absolute;
  left: 200px;
  top: 345px;
  
}
#c2{
  position: absolute;
  left: 200px;
  top: 530px;
}
.coment2 button{
  font-size: 30px;
   background:none;
   border: none;
   margin-top: 5px;
}

.coment2 button > i{
  color: #ff6600;
}

#down{
  position: absolute;
  left: 370px;
  top: 345px;
}

#down2{
  position: absolute;
  left: 370px;
  top: 530px;
}

#up2{
  position: absolute;
  left: 300px;
  top: 530px;
}

#g2{
  position: absolute;
  left: 340px;
  top: 540px;
  font-size: 15px;
  color: #fff;
}

#ng2{
  position: absolute;
  left: 410px;
  top: 540px;
  font-size: 15px;
  color: #fff;
}

#up{
  position: absolute;
  left: 300px;
  top: 345px;
}

#quant1{
  position: absolute;
  left: 240px;
  top: 355px;
  font-size: 15px;
  color: #fff;
}

#quant2{
  position: absolute;
  left: 240px;
  top: 540px;
  font-size: 15px;
  color: #fff;
}

#g1{
  position: absolute;
  left: 340px;
  top: 355px;
  font-size: 15px;
  color: #fff;
}

#ng1{
  position: absolute;
  left: 410px;
  top: 355px;
  font-size: 15px;
  color: #fff;
}
